<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Menú</ion-list-header>
        <ion-note>Palabrick</ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let e of gamePages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[e.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="e.icon + '-outline'" [md]="e.icon + '-sharp'"></ion-icon>
            <ion-label>{{e.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list id="misc-list">
        <ion-menu-toggle auto-hide="false" *ngFor="let e of miscPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[e.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="e.icon + '-outline'" [md]="e.icon + '-sharp'"></ion-icon>
            <ion-label>{{e.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Palabrick</ion-title>
      <span slot="end" *ngFor="let e of gamePages; let i = index">
        <a *ngIf="e.showToolbar === true" class="nav-link" [title]="e.title" routerDirection="root" routerLinkActive="active" [routerLink]="[e.url]"><ion-icon class="toolbar-icon" [ios]="e.icon + '-outline'" [md]="e.icon + '-sharp'"></ion-icon></a>
      </span>
      <span slot="end" *ngFor="let e of miscPages; let i = index">
        <a *ngIf="e.showToolbar === true" class="nav-link" [title]="e.title" routerDirection="root" routerLinkActive="active" [routerLink]="[e.url]"><ion-icon class="toolbar-icon" [ios]="e.icon + '-outline'" [md]="e.icon + '-sharp'"></ion-icon></a>
      </span>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
