.a_button {
    border: solid 1px #030;
    padding: 1rem;
    background-color: #070;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.a_button:hover {
    background-color: #060;
}