<ion-list>
  <ion-item>
    <ion-label>Dark Mode</ion-label>
    <ion-toggle slot="start" name="optDarkMode" checked></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Hard Mode</ion-label>
    <ion-toggle slot="start" name="optHardMode" color="secondary" checked></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>save game</ion-label>
    <ion-toggle slot="start" name="optSaveGame" color="tertiary" checked></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Jugar con palabras inventadas</ion-label>
    <ion-toggle slot="start" name="banana" color="warning" checked="false"></ion-toggle>
  </ion-item>
  
</ion-list>