<ion-list>
  <ion-list-header lines="inset">
    <ion-label>General Settings</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>Dark Mode</ion-label>
    <ion-toggle slot="start" ng></ion-toggle>   
  </ion-item>

  <ion-item>
    <ion-label>Accesibility</ion-label>
    <ion-toggle slot="start"></ion-toggle> 
  </ion-item>

  <ion-list-header lines="inset">
    <ion-label>Game Settings</ion-label>
  </ion-list-header>
  <ion-item>
    <ion-label>Hard Mode</ion-label>
    <ion-toggle slot="start"></ion-toggle>   
  </ion-item>
  <ion-item>
    <ion-label>Save state game</ion-label>
    <ion-toggle slot="start"></ion-toggle>   
  </ion-item>
  <ion-item>
    <ion-label>Accept not valid words</ion-label>
    <ion-toggle slot="start"></ion-toggle> 
  </ion-item>
  <ion-item>
    <ion-input type="number" min="0" placeholder="Insert max number of retries"></ion-input>   
  </ion-item>
</ion-list>