<p>{{partidaEnCurso.intentos.length}} / 6</p>
<p>Fecha inicio: {{partidaEnCurso.fecha_inicio === 0 ? '' : partidaEnCurso.fecha_inicio | date:'HH:mm:ss'}}</p>
<p>Fecha fin: {{partidaEnCurso.fecha_fin === 0 ? '' : partidaEnCurso.fecha_fin | date:'HH:mm:ss'}}</p>
<p>Tiempo: {{partidaEnCurso.fecha_fin === 0 ? '' : partidaEnCurso.fecha_fin-partidaEnCurso.fecha_inicio | date:'HH:mm:ss'}}</p>
<p>Letras de este intento: {{partidaEnCurso.intentos[partidaEnCurso.intentos.length-1].palabra}}</p>
<app-tablero></app-tablero>
<br>
<div id="teclado">
  <div *ngFor="let tecla of teclado_linea1" class="tecla" [class]="tecla" (click)="pulsarTecla($event)">{{tecla}}</div>
  <br>
  <div *ngFor="let tecla of teclado_linea2" class="tecla" [class]="tecla" (click)="pulsarTecla($event)">{{tecla}}</div>
  <br>
  <div *ngFor="let tecla of teclado_linea3" class="tecla" [class]="tecla" (click)="pulsarTecla($event)">{{tecla}}</div>
</div>
<app-teclado></app-teclado>